.bxf_admin_support_link {
    position: relative;
    padding: 1px 0 0 22px;
}
.bxf_admin_support_link:before {
    content: ' ';
    background: url('img/logo.png') 0 0 no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0;
}