#ajax_loader {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('img/ajax-loader.gif') center center no-repeat #000;
    opacity: 0.5;
    z-index: 10000;
}